<div>
  <h2 id="page-heading" data-cy="MaterialObraHeading">
    <span jhiTranslate="abelScApp.materialObra.home.title">Material Obras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="abelScApp.materialObra.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material-obra"
        [routerLink]="['/material-obra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="abelScApp.materialObra.home.createLabel">Crear nuevo Material Obra</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (materialObras().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="abelScApp.materialObra.home.notFound">Ningún Material Obras encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantidad">
              <div class="d-flex">
                <span jhiTranslate="abelScApp.materialObra.cantidad">Cantidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="obra.id">
              <div class="d-flex">
                <span jhiTranslate="abelScApp.materialObra.obra">Obra</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="material.id">
              <div class="d-flex">
                <span jhiTranslate="abelScApp.materialObra.material">Material</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (materialObra of materialObras(); track trackId(materialObra)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/material-obra', materialObra.id, 'view']">{{ materialObra.id }}</a>
              </td>
              <td>{{ materialObra.cantidad }}</td>
              <td>
                @if (materialObra.obra) {
                  <div>
                    <a [routerLink]="['/obra', materialObra.obra.id, 'view']">{{ materialObra.obra.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (materialObra.material) {
                  <div>
                    <a [routerLink]="['/material', materialObra.material.id, 'view']">{{ materialObra.material.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/material-obra', materialObra.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/material-obra', materialObra.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(materialObra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (materialObras().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
